button.ny-btn {
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color:  #130C0E; /* black */
    background-color: #130C0E; /* green */
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    display: inline-block;
    margin: 0px;
}
button.ny-btn:focus {
    outline:0;
}